KIS_APP_KEY=your_app_key_here
KIS_APP_SECRET=your_app_secret_here
KIS_ACCOUNT_NO=your_account_number
KIS_VIRTUAL=true

BINANCE_API_KEY=your_binance_key
BINANCE_SECRET=your_binance_secret
BINANCE_TESTNET=true

KAKAO_ACCESS_TOKEN=your_kakao_token
